.productSection {
    width:100%;
    /*background-color: pink;*/
    display: flex;
    justify-content: center;
    margin-top:20px;
    margin-bottom:30px;
}

.productSectionInner {
    width:85%;
    background-color: white;  
}

.productSectionHeader {
    background-color: #ff7171;
    display:flex;
    justify-content: space-between;
    padding-left:20px;
    padding-right: 20px;
    height:40px;
    align-items: center;
    color:white;
}

.products {
  display:grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-column-gap: 22px;
  grid-row-gap: 10px;
  justify-content: center;
  padding-top:20px;
  padding-bottom:25px;
  /*background-color: white;*/
}