.searchBar {
    display: flex;
    justify-content:center;
    margin-top:15px;
    width:100%;
    /*padding-left:100px;
    padding-right: 100px;*/
}

.searchBarWrapper {
    width:85%;
}

.innerSearchBar {
    width:70%;
    position:relative;
    /*background-color: yellow;*/
}

.innerSearchBar img {
    width:23px;
    height:23px;
    position:absolute;
    top:8px;
    left:15px;
}

input {
    width: 75%;
    height:40px;
    padding-left:45px;
    font-size:18px;
    border-radius: 30px;
    border: 1px solid #9b9b9b
}

input:focus {
    border:2px solid #ff7171;
}

.emptySpace {
    width:25%;
    height:10px;
}